{% extends "parents/parent.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">My Quizzes</h3>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{ teachercourse.course.course_name }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                            {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                            {% endif %}
                                <strong>Current Quiz</strong>
                                <ul class="list-group">
                                    {% for quiz in quizzes %}
                                        {% if quiz.teacher_course == teachercourse %}
                                            <li class="list-group-item">
                                                <a href="javascript:void(0);" onclick="toggleQuizDetails('{{quiz.quiz_id}}')">{{ quiz.title }}</a>
                                                <div id="quiz-details-{{ quiz.quiz_id }}" class="quiz-details" style="display: none;">
                                                    <p>{{ quiz.details }}</p>
                                                    <p>{{ quiz.description }}</p>
                                                    Starts at: {{ quiz.quiz_starting_date_and_time }}<br>
                                                    <p>Total questions: {{ quiz.total_questions }}</p><br>
                                                    <p>Time: {{ quiz.time_limit }} min</p>
                                                    <p>Remaining time: <span id="countdown-{{ quiz.quiz_id }}">{{ quiz.remaining_time }}</span> seconds</p>
                                                    <div>
                                                        <button class="btn btn-primary float-left ">
                                                            <a href="{% url 'assessment:quiz_detail' quiz.quiz_id %}">Quiz detail</a>
                                                        </button>
                                                        <!-- <button><a href="{% url 'assessment:quiz_delete' quiz.quiz_id %}">Delete Quiz</a></button> -->
                                                    </div>
                                                    <div class="btn btn-primary float-right">
                                                        <form action="{% url 'assessment:quiz_delete' quiz.quiz_id %}" method="post">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger">Delete Quiz</button>
                                                        </form>
                                                        
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .quiz-details {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: #f8f9fa;
        border: solid #403d3d;
    }
</style>
<script>
    function toggleQuizDetails(quizId) {
    const divId = `quiz-details-${quizId}`;
    const div = document.getElementById(divId);
    if (div) {
        div.style.display = div.style.display === 'none' ? 'block' : 'none';
    }
}
</script>
{% endblock %}