{% extends "parents/parent.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container">

                    <h1>{{ quiz.title }}</h1>
                    <p>{{ quiz.description }}</p>
                    <p>Quiz will start in: <span id="countdown">{{ remaining_time|floatformat:0 }}</span> seconds</p>

                    <script>
                        var countdownElement = document.getElementById('countdown');
                        var remainingTime = parseInt(countdownElement.innerText);

                        var countdownInterval = setInterval(function() {
                        remainingTime -= 1;
                        countdownElement.innerText = remainingTime;

                        if (remainingTime <= 0) {
                            clearInterval(countdownInterval);
                            location.reload();
                        }
                        }, 1000);
                    </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
